---
---

$header-bg-color: #36128B;
$header-bg-color-secondary: #3D15A5;
$header-heading-color: #FFFFFF;
$section-headings-color: #4700FF;
$code-bg-color: #F4F0FF;
$code-text-color: #333;

@import "{{ site.theme }}";

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #FEFAFF;
  color: #333;
  font: lighter 16px "Noto Sans JP", sans-serif;
}

a {
  color: #5200FF;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.site-footer {
  border-top: 1px solid #D1D1D1;
  background-color: transparent;
  align-items: center;
  text-align: center;
  justify-content: center;
}

::selection {
  background: #DCCCFF;
  color: #333;
}

.btn,
.btn:hover {
  text-transform: uppercase;
}

.btn {
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
}

.btn::after {
}   

hr {
  background-color: #CF77FF !important;
  height: 1px !important;
  border: 0 !important;
}

.page-header {
  position: relative;
  z-index: 9998;
}

#btn-to-top {
  display: none;
  user-select: none;
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #5924FF;
  color: #FFFFFF;
  padding: 14px 20px;
  border-radius: 100%;
  transition: 0.2s;
  font-size: 15px;
  box-sizing: border-box;
}

#btn-to-top:hover {
  color: #FFFFFF;
  outline: #572CC7 solid 2px;
  outline-offset: 2px;
  background-color: #572CC7;
}
